#cont {
    width: 65%;
    margin: 50px auto;
    margin-top: 0%;
}



 header {
    background-color: rgb(32, 153, 223);
    background-image: url("../img/pattern.png");
    background-size: contain;
    margin: 0; 
    text-align: left;
}

#logo{
    width: 25%;
}

h1 {
    margin-bottom: 0%;
}

#trasp{
    opacity: 50%;
}

#scritta{
    color: rgb(84, 160, 247);
}

figure {
    text-align: center;
    margin-bottom: 0%;
}

#desc {
    margin-bottom: 0%;
    margin-top: 0%;
}

#bscritta {
    background-color: yellow;
}

#list {
   padding-left: 1%;
}

table {
    margin-bottom: 40px;
    margin-top: 40px;
    text-align: left;
    font: ;
}

#capo{
    background-color: rgb(94, 94, 223);
}

h3{
    font-size: 30px;
    opacity: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#notizia{
    color: white;
    background-image: url("../img/monitor.jpg");
    background-size: auto 300px;
    background-repeat: no-repeat;
    border-bottom: 50px;
    height: 272px;
}

#anotizia{
    color: white;
    background-image: url("../img/graph.jpg");
    background-size: auto 300px;
    background-repeat: no-repeat;
    border-bottom: 50px;
    height: 272px;
}

.dispari{
    background-color: aqua;
}

